<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/{{stylesheet}}.css">
  <title>Document</title>
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light py-1">
      <div class="container d-flex justify-content-between align-items-center">
        <div>
          <a class="navbar-brand" href="/">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
              width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
            {{#if isAuthenticated}}{{user.name}}的{{/if}}餐廳清單
          </a>
          {{#if isAuthenticated}}
          <a href="/restaurants/new" class="btn btn-outline-primary">
            新增餐廳
          </a>
          {{/if}}
        </div>

        <div class="">
          {{#if isAuthenticated}}<a href="/users/logout" class="btn btn-outline-info">Logout</a>
          {{else}}
          <a href="/users/login" class="btn btn-outline-info">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>

    <div class="banner"></div>
  </header>
  {{!-- partial template will replace body here --}}
  {{{body}}}

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>